body {
    background-image: url("../Resources/img/Background1.jpg"); 
    background-color: #042133;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh; 
}
*{
    margin: 10;
    padding: 0;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 55%;
}

.white{
    color: white;
}
div.Left{
    position: relative; 
    width: 50%;
}
p.Left{
     
    text-align: left;
    margin-top: 50px;
    margin-left: 10px;
}
div.Right{
    position: fixed;
    width: 50%;   
}
p.Right{
   
    text-align: left;
    margin-top: 50px;
    margin-right: 10px;
}